.navbar .d-flex {
    gap: 12px;
}

.navbar-nav .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar-nav .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

.card {
    cursor: pointer;
    border: none;
}

.selected {
    background-color: #007bff !important;
    color: white !important;
}

.dog-photo, .animal-photo {
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s ease;
}

html, body {
    height: 100%; /* Ensure the page takes up at least the full height */
    display: flex;
    flex-direction: column; /* Makes the body a column container */
}

.container-fluid {
    flex: 1; /* This makes the content take the available space */
}

.animal-photo-detail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.centered-list li {
    margin: 5px 0;
}

.card_index {
    text-align: center; /* Zarovná text na stred */
}


.card_index h4, h3 {
    font-weight: bold;
    text-align: center;
}

.card_index img {
    width: 300px; /* Šírka obrázka */
    height: 300px; /* Výška obrázka */
    margin-right: 15px; /* Medzera medzi obrázkom a textom */
}
