.navbar .d-flex {
    gap: 12px;
}

.navbar-nav .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar-nav .nav-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
}

.card {
    cursor: pointer;
    border: none;
}

.selected {
    background-color: #007bff !important;
    color: white !important;
}

.dog-photo, .animal-photo {
    width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: transform 0.3s ease;
}

html, body {
    height: 100%; /* Ensure the page takes up at least the full height */
    display: flex;
    flex-direction: column; /* Makes the body a column container */
}

.container-fluid {
    flex: 1; /* This makes the content take the available space */
}

.animal-photo-detail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.centered-list li {
    margin: 5px 0;
}

.card-blog {
    border:1px solid #343a40; !important;
}
.card_index {
    text-align: center; /* Zarovná text na stred */
}


.card_index h4, h3, h2 {
    font-weight: bold;
    text-align: center;
}

.card_index img {
    width: 300px; /* Šírka obrázka */
    height: 300px; /* Výška obrázka */
    margin-right: 15px; /* Medzera medzi obrázkom a textom */
}

.flatpickr-day.today-highlight {
    border: 1px solid lightgray; /* Slabá sivá kruhová čiara */
    background-color: transparent; /* Priehľadné pozadie */
    box-sizing: border-box; /* Zabezpečí správne vykreslenie kruhu */
}

@media (min-width: 992px) {
    .navbar-nav .nav-link i {
        display: none;
    }

    .navbar .order-lg-2 {
        margin-left: auto;
    }

    .navbar-nav .nav-item {
        border-bottom: none;
    }

    .profile-icon {
        display: none;
    }

    .profile-text {
        display: inline;
    }
}

/* progressbar */

.progresses {
    position: relative;
    max-width: 100%;
    padding: 0 15px;
}

.progresses ul {
    list-style: none;
    padding: 0 10px 0 5px;
}

.progresses ul li {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f0f0f0;
    z-index: 200;
    position: relative;
}

.progresses ul li.blue {
    color: #3268ff;
    background-color: #3268ff;
}

.progresses ul li::after {
    position: absolute;
    top: 35px;
    left: -11px;
    font-size: 0.8rem;
    width: 90px;
}

#step-1::after {
    content: "Dátum a čas";
}

#step-2::after {
    content: "Výber psíka";
}

#step-3::after {
    content: "Osobné údaje";
}

#step-4::after {
    content: "Zhrnutie";
}

.progresses .progress {
    height: 0.8rem;
    width: 80%;
    padding: 0;
    margin: 0 15px;
    top: 9.5px;
    position: absolute;
    background-color: #f0f0f0;
    border-radius: 10px;
}